// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  background-color: #b0c4de;
  text-align: center;

}
table, th, td {
  align: middle;
  border: 1px solid black;
}
div {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;

}
span {
  color: 6699FF;
}
